*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/GUIBasic/nbproject/private/
/GUIBasic/build/
/GUIBasic/dist/
/BelajarLima/nbproject/private/
/BelajarLima/build/
/BelajarTujuh/nbproject/private/
/BelajarTujuh/build/
/BelajarDelapan/nbproject/private/
/BelajarDelapan/build/
/Latihan1/nbproject/private/
/Latihan1/build/
/AplikasiDatabase/nbproject/private/
/AplikasiDatabase/build/
/AplikasiDatabase/dist/
/Enkapsulasi/nbproject/private/
/Enkapsulasi/build/
/AplikasiRandom/nbproject/private/
/AplikasiRandom/build/
/BelajarSepuluh/nbproject/private/
/BelajarSepuluh/build/
/Belajardatabase/nbproject/private/
/Belajardatabase/build
/AplikasiPeminjamanBuku/nbproject/private/
/AplikasiPeminjamanBuku/build/
/MVC/nbproject/private/
/MVC/build/
/SerialNumber/nbproject/private/
/SerialNumber/build/